.chaika_1 {
    position: absolute;
    transform: rotate(4deg);
    left: 58%;
    top: 0%;
    width: 27%;
}


.chaika_2 {
    position: absolute;
    transform: rotate(10deg);
    left: 52%;
    top: -2%;
    width: 27%;
}

.chaika_3 {
    position: absolute;
    transform: rotate(-10deg);
    left: 44%;
    top: -4%;
    width: 27%;
}

.chaika_4 {
    position: absolute;
    transform: rotate(-15deg);
    left: 36%;
    top: -4%;
    width: 27%;
}

.chaika_5 {
    position: absolute;
    transform: rotate(-20deg);
    left: 28%;
    top: -3%;
    width: 27%;
}

.chaika_6 {
    position: absolute;
    transform: rotate(-35deg);
    left: 20%;
    top: -2%;
    width: 27%;
}

.chaika_7 {
    position: absolute;
    transform: rotate(-50deg);
    left: 15%;
    top: 4%;
    width: 27%;
}

.chaika_8 {
    position: absolute;
    transform: rotate(-70deg);
    left: 15%;
    top: 10%;
    width: 27%;
}

.chaika_9 {
    position: absolute;
    transform: rotate(15deg);
    left: 10%;
    top: 15%;
    width: 27%;
}

.chaika_10 {
    position: absolute;
    transform: rotate(2deg);
    left: 3%;
    top: 15%;
    width: 27%;
}

.chaika_11 {
    position: absolute;
    transform: rotate(-10deg);
    left: -2%;
    top: 15%;
    width: 27%;
}

.chaika_12 {
    position: absolute;
    transform: rotate(-30deg);
    left: -7%;
    top: 15%;
    width: 27%;
}

.chaika_13 {
    position: absolute;
    transform: rotate(-50deg);
    left: -10%;
    top: 18%;
    width: 27%;
}

.chaika_14 {
    position: absolute;
    transform: rotate(-70deg);
    left: -12%;
    top: 23%;
    width: 27%;
}

.chaika_15 {
    position: absolute;
    transform: rotate(-90deg);
    left: -12%;
    top: 27%;
    width: 27%;
}

.chaika_16 {
    position: absolute;
    transform: rotate(-110deg);
    left: -12%;
    top: 32%;
    width: 27%;
}

.chaika_17 {
    position: absolute;
    transform: rotate(-130deg);
    left: -10%;
    top: 37%;
    width: 27%;
}

.chaika_18 {
    position: absolute;
    transform: rotate(-135deg);
    left: -5%;
    top: 43%;
    width: 27%;
}

.chaika_19 {
    position: absolute;
    transform: rotate(-140deg);
    left: 0%;
    top: 48%;
    width: 27%;
}

.chaika_20 {
    position: absolute;
    transform: rotate(-147deg);
    left: 7%;
    top: 53%;
    width: 27%;
}

.chaika_21 {
    position: absolute;
    transform: rotate(-152deg);
    left: 13%;
    top: 57%;
    width: 27%;
}

.chaika_22 {
    position: absolute;
    transform: rotate(-160deg);
    left: 20%;
    top: 62%;
    width: 27%;
}

.chaika_23 {
    position: absolute;
    transform: rotate(-165deg);
    left: 27%;
    top: 65%;
    width: 27%;
}

.chaika_24 {
    position: absolute;
    transform: rotate(-170deg);
    left: 34%;
    top: 68%;
    width: 27%;
}

.chaika_25 {
    position: absolute;
    transform: rotate(-175deg);
    left: 42%;
    top: 70%;
    width: 27%;
}

.chaika_26 {
    position: absolute;
    transform: rotate(-180deg);
    left: 49%;
    top: 72%;
    width: 27%;
}

.chaika_27 {
    position: absolute;
    transform: rotate(-184deg);
    left: 56%;
    top: 74%;
    width: 27%;
}


.chaika_28 {
    position: absolute;
    transform: rotate(40deg);
    left: 64%;
    top: 68%;
    width: 27%;
}

.chaika_29 {
    position: absolute;
    transform: rotate(70deg);
    left: 66%;
    top: 62%;
    width: 27%;
}

.chaika_30 {
    position: absolute;
    transform: rotate(80deg);
    left: 67%;
    top: 55%;
    width: 27%;
}

.chaika_31 {
    position: absolute;
    transform: rotate(90deg);
    left: 68%;
    top: 47%;
    width: 27%;
}

.chaika_32 {
    position: absolute;
    transform: rotate(100deg);
    left: 69%;
    top: 40%;
    width: 27%;
}

.chaika_33 {
    position: absolute;
    transform: rotate(120deg);
    left: 71%;
    top: 33%;
    width: 27%;
}

.chaika_34 {
    position: absolute;
    transform: rotate(120deg);
    left: 72%;
    top: 26%;
    width: 27%;
}

.chaika_35 {
    position: absolute;
    transform: rotate(100deg);
    left: 74%;
    top: 20%;
    width: 27%;
}

.chaika_36 {
    position: absolute;
    transform: rotate(70deg);
    left: 75%;
    top: 17%;
    width: 27%;
}

.chaika_37 {
    position: absolute;
    transform: rotate(40deg);
    left: 75%;
    top: 15%;
    width: 27%;
}

.chaika_38 {
    position: absolute;
    transform: rotate(20deg);
    left: 72%;
    top: 10%;
    width: 27%;
}

.chaika_39 {
    position: absolute;
    transform: rotate(10deg);
    left: 67%;
    top: 4%;
    width: 27%;
}

.chaika_40 {
    position: absolute;
    transform: rotate(0deg);
    left: 61%;
    top: 3%;
    width: 27%;
}